
<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <title>The Best Palindrome Checker in the World!</title>
          </head>
        <main>
        <h1>The Best Palindrome Checker in the World!</h1>
            <p>A palindrome is a word, number, phrase, or other sequence of characters which reads the same backward as forward, such as madam, racecar. There are also numeric palindromes, particularly date/time stamps using short digits 11/11/11 11:11 and long digits 02/02/2020. Sentence-length palindromes may be written when allowances are made for adjustments to capital letters, punctuation, and word dividers, such as "A man, a plan, a canal, Panama!". For example, the following phrases are palindromes: 1) Madam 2) Was it a cat I saw? 3) He did, eh? 4) Go hang a salami, I’m a lasagna hog. 5) Poor Dan is in a droop 6) Taco cat? Taco cat.
            </p>
            <form method = "POST">
                <div class="form-group">
                <label for="test-to-test">Enter your string to check palindrome:</label>
                <br><br>
                <input type="text" id="text" name = "string" placeholder="Enter here">
                </br></br>
               <input type="submit" value="Check Palindrome" onclick="palindrome();"/>
      
            </form>
            <ol id="checker"></ol>
              
        </main>
        <footer>
            <p>By, DEVILA BAKRANIA, 10457590</p>
            <p>Lab 8</p>
        </footer>
        <script src="/public/palindrome.js">
        </script>
  
</html>