.is-palindrome{
    color: #0000FF
}
.not-palindrome{
    color: #FF0000
}
.error{
    color: red
}
#by{
    color: violet
}
#button{
    border:5 px solid 

}
.title{
   color: violet
}
#Label{
    color: violet
}
