.success{
    color:#28a745
}
.failure{
    color:#dc3545
}
.error {
    color: #8b0000;
}
h1{
    padding: 50px;
    text-align: center;
}
form{
   text-align: center;
}
footer{
    text-align: center;
}
main{
    text-align: center;
    margin: auto;
}
ol{
    text-align: center;
}
#button
{
    background-color: grey;
    text-decoration: none;
}
#button:hover{
    box-shadow: 0 12px 20px;
}
footer{
    padding: 20px;
}
body{
        background-color: violet;; 
}
