<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Devila Bakrania's Site!</title>
    <link rel="stylesheet" href="public/site.css">
     </head>
<body>
    <div class="content">
        <h1>The Palindrome Results!</h1>
        <nav>
        <ul><script src="/public/palindrome.js"></script>
            <li><a href="/">The Palindrome Result</a></li>
        </ul>
        </nav>
    <main>
        {{{body}}}
    </main>
     <script src="/public/palindrome.js"></script>
        <a href="/">Try another palindrome</a>
    </div>
</body>
</html>




   
   

  