<html lang = "en">
    <head>
        <meta character = "UTF-8">
        <title>User Login</title>
    </head>
    <body>
        <main>
        <header>
            <h1>Login Page</h1>
        </header>
        <form id = "form1" action = /login  method = "POST">
        <label for = "username">User Name</label>
        <input id = "username" type = "text" name = "username"><br>
        <label for = "password">Password</label>
        <input id = "password" type = "password" name = "password"><br>
        <button id = "submit" type ="submit">Login</button>

        </form>
        <p>{{error}}</p></main>
        <footer>DEVILA BAKRANIA 10457590</footer>
    </body>
</html>